    <section id="contact">
        <h2>Get In Touch</h2>
        <p>I am currently open to new opportunities. Feel free to reach out via email or connect with me on professional networks!</p>
        <ul class="contact-list">
            <li>Email: <a href="mailto:thomasfathy75@gmail.com">thomasfathy75@gmail.com</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/thomas-fathy-35a474242/" target="_blank">LinkedIn</a></li>
            <li>GitHub: <a href="https://github.com/thomasFathy" target="_blank"> GitHub
              </a></li>
        </ul>
    </section>