*{
    box-sizing: border-box;
}

body{

  font-family: Arial, Helvetica, sans-serif;
}

header{
  background-color: #666;
  padding: -12px;
  text-align: center;
  font-size: 35px;
  color: white;
}

nav ul{
    width: 100px;
    list-style-type: none;
    padding: 0;
}

article {
  display: none;
  width: 70%;
  padding: 10px;
  background-color: #f1f1f1;
  margin: auto;
}
article:target {
  display: block;
  float: center;
  padding: 1px;
  width: 70%;
  background-color: #f1f1f1;
}



.london {
  float: center;
  padding: 1px;
  width: 70%;
  background-color: #f1f1f1;
}

.paris{

  float: center;
  padding: 1px;
  width: 70%;
  background-color: #f1f1f1;

}

.tokyo{

  float: center;
  padding: 1px;
  width: 70%;
  background-color: #f1f1f1;

}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align:center;
  color: white;
  align-items: start;  
}