
    <section id="projects">
        <h2>Featured Projects</h2>
        <div class="project-grid">
            <div class="project-card">
                <h3>Online book store backend</h3>
                <p>A brief description of the project. Mention the technologies used and your specific contributions.</p>
                <!-- <a href="link-to-live-demo" target="_blank">Online book store backend</a> |  -->
                <a href="https://github.com/thomasFathy/online-book-store-Backend" target="_blank">Source Code</a>
            </div>
            <div class="project-card">
                <h3>E-commerce OOP</h3>
                <p>Another project description focusing on impact or complex features.</p>
                <!-- <a href="link-to-live-demo" target="_blank">Live Demo</a> |  -->
                <a href="https://github.com/thomasFathy/E-commerece_OOP" target="_blank">Source Code</a>
            </div>
        </div>
    </section>