header {
    background-color: var(--secondary-color);
    position: fixed; /* Stays at the top when scrolling */
    width: 88%;
    top: 0;
    z-index: 1000;
    padding: 20px 10%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    color: var(--primary-color);
}

nav ul {
    display: flex; /* Aligns menu items horizontally */
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    color: var(--text-color);
}

nav ul li a:hover {
    color: var(--primary-color);
}